


<!-- <h1> ASHTANGA </h1>
   <div>
     <div *ngFor="let style of styles">
       <h3> {{ style.style }} </h3>
     </div>
   </div> -->

<div class="topper">
       <!-- <h2 class="well"> Welcome {{ user.username }} </h2> -->
                   <div *ngFor="let style of styles">
                                                      <p class="tt">  {{ style.style }} </p>
                   </div>
</div>

<div class="aag">
                  <p class="aagh"> Ashtanga at a Glance </p>
                  <ul class="aagl">
                                     <li>Moderately Paced</li>
                                     <li>Strength Building</li>
                                     <li>Emphasis on Hip Flexibility</li>
                                     <li>Typical class time 1hr 90min</li>
                  </ul>

                  <p class="aaght"> Recommended for Students </p>

                  <ul class="aaglt">

                                     <li>Who enjoy Structure</li>
                                     <li>Lifetime Practice</li>
                                     <li>Consistent Challenge </li>
                                     <li>Dynamic Flow</li>
                  </ul>

</div>

<div class="bodyh">
<p class="hist">
  Style Details
  <p class="His">
Ashtanga was created by the late Sri. K. Pattabhi Jois in Mysore India.
The practice is known for its challenging nature due to consistent
dynamic movements, coupled with rountine strength building postures.
Every novice ashtangi begins at level 1 called Primary Series. In sanskrit
it is called "Yoga Chikitsa" or "Yoga Therapy" in which it is said,
if practiced diligently, many or all aches and pains are sure to vanish.
There are also higher levels but the average practitioner usually stays
at primary series for many years for its challenge takes discpline
to master.
<br>
The seasoned Ashtangi aims to practice six days a week with one of those days
being a guided class. Since ashtanga practices the same sequence daily,
the practitioner will eventually remember all the poses and attend what are called Mysore Classes. These
classes named after the city where the style was founded, is a independent
session where the student enters and exits at will and begins his practice.
Instead of leading the class, the teacher will observe and adjust/help those
students in need. At the start and end of every class, there is the chanting of
 secular mantras, both being different from one an another.
In order for one to become officially certified to teach Ashtanga,
one must travel to Mysore, India for at least 3 years until the resident Guru
Sharath Jois, grandson of the founder, is certain your ability is acheived.
  </p>
  <img class="chart" src="/assets/img/chart.jpg">


  <p class="adv">
     Path For Beginners
  </p>

  <p class="adv2">
    One should build basic stamina and strength by taking basic Vinyasa or Hatha yoga classes.
    From there, attend either Ashtanga workshops or whats called 'Half Primary' classes.
    These are led classes that go no more than half of the first Primary Series. This should
    take you quite sometime to master and little by little increase the number of days you
    would practice through out the week. Once you feel comfortable, take a led class
    of the the complete Primary Series until it becomes memory. Once it does, begin attending
    Mysore style classes. This should take you several years and when you feel ready to ascend
    to the next level Second Series, consult your instructor for guidance.

</div>

<!-- <iframe width="420" height="315"
src="https://www.youtube.com/watch?v=aUgtMaAZzW0">
</iframe>

<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=qJzfZ6w0s4g">
</iframe>

<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=KT4MS4zHZQA">
</iframe> -->
