


<div class="top">
    <!-- <h2 class="well"> Welcome {{ user.username }} </h2> -->
</div>

<div class="title">
                    <h1 class="ys">
                                    Yoga Styles
                    </h1>
</div>

<div class="body">
                     <div class="floating-box1">
                                                <div class="box">
                                                       <a [routerLink]="['/ashtanga']">
                                                                                         Ashtanga
                                                       </a>
                                                </div>
                     </div>

                     <div class="floating-box2">
                                                 <div class="box">
                                                                   <a [routerLink]="">
                                                                                        Iyengar
                                                                   </a>
                                                 </div>
                     </div>

                     <div class="floating-box3">
                                                 <div class="text3">
                                                                     <a [routerLink]="">
                                                                                         Yoga For Injuries
                                                                    </a>
                                                 </div>
                     </div>

                     <br>

                    <div class="floating-box4">
                                                <div class="box">
                                                                  <a [routerLink]="">
                                                                                      Pranayama Breathing
                                                                  </a>
                                                </div>
                    </div>

                    <div class="floating-box5">
                                               <div class="box">
                                                                 <a [routerLink]="">
                                                                                     Meditation
                                                                </a>
                                               </div>
                   </div>

                   <div class="floating-box6">
                                               <div class="box">
                                                                 <a [routerLink]="">
                                                                                     Mindfulness
                                                                 </a>
                                               </div>
                   </div>
</div>

<div class="title2">
                     <h1 class="yl">

                                      Yogic Literature
                     </h1>

                              </div>

                              <div class="body2">
                                                  <div class="floating-box7">
                                                                              <div class="box">
                                                                                                <a [routerLink]="['/ashtanga']">
                                                                                                                                 Bhagavad Gita
                                                                                                </a>
                                                                              </div>
                                                  </div>


                                <div class="floating-box8">
                                                            <div class="box">
                                                                              <a [routerLink]="">
                                                                                                  Yoga Sutras
                                                                              </a>
                                                            </div>
                                </div>

                                <div class="floating-box9">
                                                            <div class="box">
                                                                              <a [routerLink]="">
                                                                                                  Hatha Yoga Pradipika
                                                                              </a>
                                                            </div>
                                </div>


</div>
<div class="top2">

</div>
