


<div class="top">
    <h2 class="well"> Welcome {{ user.username }} </h2>
</div>

<div class="title">
<h1 class="ys">Yoga Styles</h1>
</div>

<div class="body">
  <div class="floating-box1"><a [routerLink]="['/ashtanga']"> Ashtanga </a>
</div>
  <div class="floating-box">Floating box</div>
  <div class="floating-box">Floating box</div>
  <br>
  <div class="floating-box1">Floating box</div>
  <div class="floating-box">Floating box</div>
  <div class="floating-box">Floating box</div>
</div>

<div class="title2">
  <h1 class="yl">Yogic Literature</h1>

</div>

<div class="body2">
  <div class="floating-box1"><a [routerLink]="['/ashtanga']"> Ashtanga </a>
</div>
  <div class="floating-box">Floating box</div>

</div>
<div class="top2">

</div>
